.img-fluidss{
    animation: bounce 5s ease-in-out infinite;
    border-radius: 80px;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px); /* Adjust height of the bounce */
    }
    100% {
        transform: translateY(0px); /* Adjust for a smoother effect */
    }
}